#Top_bar:not(.is-sticky) { border-bottom: 1px solid #e5e5e5; }
#Footer .footer_copy { border-top: 1px solid #e5e5e5; }
#Top_bar .text-logo #logo {
    font-weight: 500;
    font-size: 17px;
    max-width: 155px;
    line-height: 22px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-transform: uppercase;
    margin-top: 0 !important;
    margin-right: 50px;
    text-align: left;
}

@media only screen and (max-width: 1239px) {
    #Top_bar .text-logo #logo {
        padding-bottom: 15px !important;
    }
}

@media only screen and (min-width: 768px) {
    #Top_bar.is-sticky #logo {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #Top_bar .text-logo #logo {
    }
    #Top_bar.is-sticky #logo {
        font-size: 15px;
        max-width: 135px;
        line-height: 18px !important;
        padding-top: 10px !important;
    }
    #Top_bar.is-sticky {
        height: 70px;
    }
    #Top_bar.is-sticky .menu_wrapper .menu > li > a {
        padding: 18px 0;
    }
}
