#Top_bar:not(.is-sticky) { border-bottom: 1px solid #e5e5e5; }
#Footer .footer_copy { border-top: 1px solid #e5e5e5; }
#Top_bar .text-logo #logo {
    font-weight: 500;
    font-size: 17px;
    max-width: 155px;
    line-height: 22px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-transform: uppercase;
    margin-top: 0 !important;
    margin-right: 50px;
    text-align: left;
}

#Footer .footer_copy .social li a:hover, #Footer .footer_copy .social-menu a:hover {
    color: #000;
}

.share-simple-wrapper {
    margin-bottom: -40px;
}

.the_content_wrapper a, input[type=submit] {
    transition: all .3s ease-in-out;
}

.the_content_wrapper a {
    text-decoration: underline;
}
.the_content_wrapper a:hover {
    text-decoration: none;
}

input[type=submit]:hover {
    background-color: #333;
}

.play-btn {
    height: 75px !important;
    width: 75px !important;
    border-radius: 75px !important;
}
.rev-btn.rev-withicon.play-btn i {
    margin-left: 0 !important;
    font-size: 40px !important;
    line-height: 40px !important;
}

#Top_bar .menu > li > a {
    padding: 11px 0 10px !important;
}

@media only screen and (max-width: 1239px) {
    #Top_bar .text-logo #logo {
        padding-bottom: 15px !important;
    }
}

@media only screen and (min-width: 768px) {
    #Top_bar .text-logo #logo {
        margin-bottom: 0 !important;
    }
    .mobile-sticky #Top_bar.is-sticky #logo {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 15px;
        max-width: 135px;
        line-height: 18px !important;
        padding-top: 10px !important;
    }
    #Top_bar.is-sticky {
        height: 73px;
    }
    #Top_bar.is-sticky .menu_wrapper .menu > li > a {
        padding: 20px 0 !important;
    }
}
@media only screen and (max-width: 767px) {
    #Top_bar .text-logo #logo {
        padding-bottom: 12px !important;
        margin-bottom: 0 !important;
        margin-left: 15px !important;
    }
    .mobile-sticky #Top_bar.is-sticky #logo {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 15px;
        max-width: 135px;
        line-height: 18px !important;
        padding-top: 10px !important;
        padding-bottom: 12px !important;
        margin-bottom: 0 !important;
    }
    .mobile-sticky #Top_bar.is-sticky a.responsive-menu-toggle, #Top_bar a.responsive-menu-toggle {
        top: 50% !important;
        margin-right: 15px !important;
    }
}
